<div class="column is-one-third">
  <% if starship.image.present?%>
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag url_for(starship.image)%>
          </figure>
        </div>
      <%end%>
  <div class="card starship">
    <div class="card-content">
      <p>
        <span class="title is-4">
        <%if name_is_link%>
          <%= link_to starship.name, starship%>
        <%else%>
          <%=starship.name%>
        <%end%>
        </span>
        <span class="select is-rounded is-small align-right"><%= select_tag "planets", options_from_collection_for_select(starship.planets, "id", "name")%> </span>
      </p>
      <ul>
        <li>
          <strong>Type:</strong> <%= link_to starship.type.name, starship.type%>
        </li>
        <li>
          <strong>Description:</strong> <%=starship.description%>
        </li>
        <li>
          <strong>Speed:</strong> <%=starship.speed%> km/h
        </li>
        <li>
          <strong>Length:</strong> <%=starship.length%> m
        </li>
        <li>
          <strong>Price:</strong> $<%=starship.price%>
        </li>
      </ul>
    </div>
  </div>
</div>