<%if !name_is_link%>
  <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <%=link_to "Home", root_path %>
    </li>
    <li>
      <%=link_to starship.type.name, starship.type %>
    </li>
    <li>
      <%=link_to_if false, starship.name, starship, :class => "is-active" %>
    </li>
  </ul>
</nav>
<%end%>
<div class="column is-one-third">
  <% if starship.image.present?%>
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag url_for(starship.image)%>
          </figure>
        </div>
      <%end%>
  <div class="card starship">
    <div class="card-content">
      <p>
        <span class="title is-4">
        <%if name_is_link%>
          <%= link_to starship.name, starship%>
        <%else%>
          <%=starship.name%>
        <%end%>
        </span>
        <span class="select is-rounded is-small align-right"><%= select_tag "planets", options_from_collection_for_select(starship.planets, "id", "name")%> </span>
        <%if starship.is_new%>
            <p>
              <%=link_to "New", starship_new_path, :class => "button is-success is-small"%>
            </p>
        <% elsif starship.is_refurbished %>
            <p>
              <%=link_to "On Sale", starship_refurbished_path, :class => "button is-danger is-small"%>
            </p>
        <%end%>
      </p>
      <ul>
        <li>
          <strong>Type:</strong> <%= link_to starship.type.name, starship.type%>
        </li>
        <li>
          <strong>Description:</strong> <%=starship.description%>
        </li>
        <li>
          <strong>Speed:</strong> <%=starship.speed%> km/h
        </li>
        <li>
          <strong>Length:</strong> <%=starship.length%> m
        </li>
        <li>
          <strong>Price:</strong> $<%=starship.price%>
        </li>
      </ul>
      <%= form_tag(add_to_cart_path(starship), method: :post) do%>
            <%= number_field_tag(:quantity, '1', size: 3, min: 1, max: 100)%>
            <%= submit_tag ("Add to cart")%>
      <%end%>
    </div>
  </div>
</div>